h1 {
    color: purple;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    height: 100px;
    opacity: 70%;
    text-align:center;
}

p {
    color: rgb(99, 4, 99);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
    text-align:center;
}

center{
    height: 30px;
    width:auto;
    color: rgba(15, 15, 171, 0.862);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

select{
    color:rgba(17, 17, 138, 0.643);
    width:auto;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin: auto;
}

